@tailwind base;
@tailwind components;
@tailwind utilities;

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #0d9488;
  cursor: pointer;
}

#myRange::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d9488;
  cursor: pointer;
}
